{% render 'product-badges' %}

{% unless product.description == blank or hide_description %}
  <div class="product-description rte" data-product-description>
    {{ description }}
  </div>
{% endunless %}
