<!-- {% for tag in product.tags %}
  {% if tag contains 'sale' %}
  {% assign productSale = true %}
  {% endif %}
{% endfor %}
{% if productSale %}
  <div class="sale-badge small">
    <img src="{{ 'badge-sale2.svg' | asset_url }}" alt="sale Badge" class="badge-image">
  </div>
{% endif %} -->

{% for tag in product.tags %}
  {% if tag contains 'new' %}
  {% assign productNew = true %}
  {% endif %}
{% endfor %}
{% if productNew %}
  <div class="new-badge small">
    <img src="{{ 'badge-new.svg' | asset_url }}" alt="New Badge" class="badge-image">
  </div>
{% endif %}
