<table class="sizing-chart">
<tr>
  <td>size</td>
  <td>waist</td>
  <td>hip</td>
</tr>
<tr>
  <td>xs</td>
  <td>25"</td>
  <td>35"</td>
</tr>
<tr>
  <td>s</td>
  <td>27.5"</td>
  <td>37.5"</td>
</tr>
<tr>
  <td>m</td>
  <td>30"</td>
  <td>40"</td>
</tr>
<tr>
  <td>l</td>
  <td>32.5" </td>
  <td>42.5"</td>
</tr>
<tr>
  <td>xl</td>
  <td>35"</td>
  <td>45"</td>
</tr>
</table>