<table class="sizing-chart">
<tr>
  <td>size</td>
  <td>US shoe size</td>
</tr>
<tr>
  <td>s</td>
  <td>4 - 6.5 </td>
</tr>
<tr>
  <td>m</td>
  <td>7 - 9.5 </td>
</tr>
<tr>
  <td>l</td>
  <td>10 - 12.5 </td>
</tr>
</table>