<table class="sizing-chart">
<tr>
  <td>size</td>
  <td>bust</td>
  <td>waist</td>
  <td>hip</td>
</tr>
<tr>
  <td>xs</td>
  <td>33" - 35" </td>
  <td>25" - 27" </td>
  <td>35" - 37"</td>
</tr>
<tr>
  <td>s</td>
  <td>36" - 38"</td>
  <td>27" - 30" </td>
  <td>37" - 40" </td>
</tr>
<tr>
  <td>m</td>
  <td>38" -  40" </td>
  <td>30" - 33" </td>
  <td>40" - 43" </td>
</tr>
<tr>
  <td>l</td>
  <td>41" -  43" </td>
  <td>33" - 35" </td>
  <td>44" - 45" </td>
</tr>
<tr>
  <td>xl</td>
  <td>43" - 45"</td>
  <td>35" - 37"</td>
  <td>45" - 46</td>
</tr>
</table>