<table class="sizing-chart">
<tr>
  <td>size</td>
  <td>chest to fit</td>
</tr>
<tr>
  <td>xs</td>
  <td>31"-34"</td>
</tr>
<tr>
  <td>s</td>
  <td>34"-37"</td>
</tr>
<tr>
  <td>m</td>
  <td>38"-41"</td>
</tr>
<tr>
  <td>l</td>
  <td>42"-45"</td>
</tr>
<tr>
  <td>xl</td>
  <td>46"-49"</td>
</tr>
<tr>
  <td>2xl</td>
  <td>50"-53"</td>
</tr>
</table>