<article class="site-page" data-template-page>
{% section 'static-page-intro-meta' %}
  {% if page.content != blank %}
    <div class="page-content shopify-section rte">
      {{ page.content }}
    </div>
  {% endif %}
  {% comment %} {% section 'main-faq-content' %} {% endcomment %}
</article>
