{% assign video = article.metafields["global"]["team_lead_video"] %}

{% assign videoFallback = article.metafields["global"]["athlete_video"] %}


<script
  type="application/json"
  data-section-type="static-article"
  data-section-id="{{ section.id }}">
</script>
<div class="">
  <div id="lead-article-video" class="subsection-wrapper col-12 lead-article-video-wrapper">
    <div class="article--inner col">
      <div class="article-video-intro">
        <h2 class="section-block__title">{{article.title}}</h2>
        <p class="text-center">Watch more on the <a href="/blogs/videos">Icelantic Blog</a></p>
      </div>
      <div class="article-video-wrapper video-container ">
        {% if video %}
        {{ video }}
        {% else %}
        {{ videoFallback }}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Video Team Leads",
  "class": "blog--section video full-width team-leads",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date published",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show post author",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "use_share_buttons",
      "label": "Use share buttons",
      "default": true
    }
  ]
}
{% endschema %}
