{% assign blog_1 = blogs[section.settings.blog-1] %}
{% assign blog_2 = blogs[section.settings.blog-2] %}
<nav>
  <div class="contained row blog-btns align-items-center justify-content-center">
    <div class="text-center">
      <a class="btn-1 btn bg-none exclude {% if blog.url contains 'video' %}active{% endif %}" href="{{blog_1.url}}"><h3>{{section.settings.blog-1-text}}</h3></a>
    </div>
    <div class="text-center">
      <a class="btn-2 btn bg-none exclude {% unless blog.url contains 'video' %}active{% endunless %}" href="{{blog_2.url}}"><h3>{{section.settings.blog-2-text}}</h3></a>
    </div>
  </div>
</nav>

{% schema %}
{
  "name": "OneDegree Blog Nav",
  "class": "blog--section",
  "settings": [
    {
      "type": "blog",
      "id": "blog-1",
      "label": "Left Link Blog"
    },
    {
      "type": "text",
      "id": "blog-1-text",
      "label": "Left Link Text",
      "default":"OneDegree Blog"
    },
    {
      "type": "blog",
      "id": "blog-2",
      "label": "Right Link Blog"
    },
    {
      "type": "text",
      "id": "blog-2-text",
      "label": "Right Link Text",
      "default":"OneDegree TV"
    }
  ]
}

{% endschema %}
