  {% assign product_limit = 6 %}

  <script
    type="application/json"
    data-section-type="static-product-recommendations"
    data-section-id="{{ section.id }}"
    data-section-data
  >
  {
    "settings": {
      "limit": {{ product_limit }}
    },
    "productId": {{ product.id | json }}
  }
  </script>

  <section
    class="product-section--container product-row--container product-recommendations--container meta-container"
    data-html
    data-product-recommendations
    data-meta-flag
  >
    <div class="product-recommendations__inner">
      {%- if section.settings.product_recommendations_heading != blank -%}
          <div class="section-header emphasized-title-container right">
            <h2 class="emphasized-title  emphasized-title--large product-section--title product-recommendations--title">{{ section.settings.product_recommendations_heading | escape }}</h2>
          </div>
        {%- endif -%}
        <ul
        class="product-section--content product-row recommendation-row custom-meta"
        data-product-row
      >
      {% for i in (1..7) %}
      {% assign key = 'recommend_' | append: i %}
      {% if product.metafields["global"][key] != blank %}
      {% assign handle = product.metafields["global"][key] %}
      {% assign newproduct = all_products[handle] %}
      {% if newproduct.title != blank %}
        {%
          render 'product-grid-item',
          product: newproduct,
          recommend: true
        %}
        {% endif %}
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </section>

  {% render 'quick-shop' %}

{% schema %}
{
  "name": "META recommendations",
  "class": "product-recommendations--section has-graphic",
  "settings": [
    {
      "type": "text",
      "id": "product_recommendations_heading",
      "label": "Heading",
      "default": "You may also like"
    }
  ]
}
{% endschema %}
