
<div class="page-width">
  <div class="row">
      <div class="col-sm-6 offset-sm-3 d-flex justify-content-center">
          <span class="emphasized-title link-block__cta">
          <a class="button button-primary" href="{{section.settings.cta_link_1}}">
            {{ section.settings.cta_label }}
            </a>
          </span>
      </div>
  </div>
</div>

{% schema %}
  {
    "name": "One Button CTA",
    "class": "index-section no-pad",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title Text",
        "default": "Visit Our Flagship Store"
      },
      {
        "type": "richtext",
        "id": "text_content",
        "label": "Paragraph Text",
        "default": "<p>Icelantic has moved its HQ to the historic downtown of Golden, CO. The move to Golden, is a new chapter of the Icelantic story and allows us to easily practice what we preach…Returning To Nature. It also gives us the opportunity to invite people into our first ever retail space, welcoming you to experience and support the brand first hand. If you are ever in the area, please come by to check out the store and meet the people behind Icelantic.</p>"
      },
      {
        "type": "url",
        "id": "cta_link_1",
        "label": "Link 1"
      },
      {
        "type": "text",
        "id": "cta_label",
        "label": {
          "pt-BR": "Etiqueta de link",
          "it": "Etichetta link",
          "en": "Link label",
          "es": "Vincular etiqueta",
          "de": "Link-Label",
          "ja": "リンクラベル",
          "fr": "Étiquette de lien"
        },
        "default": "Learn More"
      }
    ],
    "presets": [
      {
        "name": "Simple Button CTA",
        "category": "CTA"
        }
      ]
      }
{% endschema %}
