{% assign newBlog = blogs[section.settings.blog] %}
<div id="{{section.settings.id}}" class="">
<div class="page-width">
<h1>{{ section.settings.title }}</h1>
    <div class="row">
      {% for article in newBlog.articles %}
        <div class="col-sm-4">
          <img style="max-width: 100%" src="{{ article.image | img_url: '600x600' }}">
          <div class="tm-info-hover text-center">{{article.title}}</div>
        </div>
      {% endfor %}
    </div>
</div>
</div>
{% schema %}
{
  "name": "Team Leaders pages",
  "class": "blog--section",
  "settings": [
    {
      "type": "text",
      "id": "id",
      "label": "Nav Target ID",
      "default": "team",
      "info": "should match the desired nav item"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section Title"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Team Lead Blog"
    },
    {
      "type": "range",
      "id": "posts_per_page_range",
      "label": "Posts per page",
      "min": 3,
      "max": 9,
      "step": 3,
      "default": 3
    }
  ]
}

{% endschema %}