<script
  type="application/json"
  data-section-type="static-blog"
  data-section-id="{{ section.id }}">
</script>
{% comment %} {% assign blog = blogs[section.settings.blog] %} {% endcomment %}
{% assign featured_post = section.settings.featured_post %}
{% assign paginate_by = section.settings.posts_per_page_range | times: 1 %}

{% assign show_featured = false %}
{% if featured_post != '' and featured_post != blank %}
  {% assign show_featured = true %}

  {% comment %}
    Don't show highlighted post if is not first page, or if tags are active
  {% endcomment %}
  {% if paginate.current_page != 1 and current_tags != blank %}
    {% assign show_featured = false %}
  {% endif %}
{% endif %}

<section class="blog--container">
    {% if show_featured %}
      {%
        render 'article-excerpt-featured',
        article: articles[featured_post]
      %}
    {% endif %}
    {% assign sorter = section.settings.sort_tags | split: ',' %}
    <ul class="blog-nav">
      <li><h4><a class="active" onclick="blogSwitch('all')">All</a></h4></li>
      {% for tag in sorter %}
      <li><h4><a class="" onclick="blogSwitch('{{tag | replace: " ", "-" }}')">
        {% assign wordArray = tag | split: " " %}
        {% for word in wordArray %}
        {{word | capitalize}}
        {% endfor %}
      </a></h4></li>
      {% endfor %}
    </ul>

    <div class="article-row articles-all">
      {% paginate blog.articles by paginate_by %}
      <ul class="blog--inner">
        {% for article in blog.articles %}
          {%
            render 'article-excerpt',
            article: article
            %}
        {% endfor %}
      </ul>
      {% render 'pagination' %}
      {% endpaginate %}
    </div>
  {% for tag in sorter %}
  <div class="article-row articles-{{tag | replace: " ", "-" }}" style="display:none">
    <ul class="blog--inner">
      {%- for article in blog.articles -%}
        {%- if article.tags contains tag -%}
          {%
            render 'article-excerpt',
            article: article
            %}
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>


  {% endfor %}



</section>


<script>
  var blogSwitch = function ( target ) {
    $('.article-row').hide()
    $('.articles-' + target).fadeIn();
  }
</script>


{% schema %}
{
  "name": "OneDegree Blog",
  "class": "blog--section",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "checkbox",
      "id": "show_rss_link",
      "label": "Show RSS link",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date published",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show post author",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show post excerpt",
      "default": true
    },
    {
      "type": "article",
      "id": "featured_post",
      "label": "Featured post"
    },
    {
      "type": "textarea",
      "id": "sort_tags",
      "label": "Tags to Sort By",
      "default": "history,backcountry,action",
      "info": "Comma separated, no spaces between tags. spaces within tags ok."
    },
    {
      "type": "range",
      "id": "posts_per_page_range",
      "label": "Posts per page",
      "min": 6,
      "max": 12,
      "step": 3,
      "default": 9
    },
    {
      "type": "image_picker",
      "id": "fallback_image",
      "label": "Article Fallback Image"
    }
  ]
}

{% endschema %}
