<script
  type="application/json"
  data-section-type="dynamic-video"
  data-section-id="{{ section.id }}"
  data-section-data>
  {
    "autoplay": {{ section.settings.autoplay | json }}
  }
</script>


{% assign url = section.settings.url %}
<div class="subsection-wrapper">
  <div class="row">
    {% if section.settings.intro_image %}
    <div class="col-sm-3">
      {% if section.settings.intro_image %}
      <img src="{{ section.settings.intro_image | img_url: '600x' }}" alt="" style="max-width: 120px;width: 100%;margin: .5em auto;">
      {% endif %}
    </div>
    {% endif %}
    <div class="col-sm-9 d-flex align-items-center">
        {{ section.settings.intro_paragraph }}
    </div>
  </div>
</div>

  <div class="col-12">
    <div class="article-video-wrapper video-container ">
      <div class="dynamic-video">
        {%
          render 'video',
          cover: section.settings.cover,
          aspect_ratio: section.settings.aspect_ratio,
          overlay: overlay,
          url: url
        %}
    </div>
    </div>
  </div>
</div>


{% schema %}
{
  "class": "container text-center page-content",
  "settings": [
    {
      "type": "image_picker",
      "id": "intro_image",
      "label": "Intro Image"
    },
    {
      "type": "textarea",
      "id": "intro_paragraph",
      "label": "Intro Paragraph",
      "default": "All of Icelantic’s skis are covered from manufacturers’ defects for 3 year’s from the effective date that your skis were produced (Starting September 1st of the model year). Skis MUST be registered within 30 DAYS OF PURCHASE to be eligible for warranty/repair program."
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay videos"
    },
    {
      "type": "image_picker",
      "id": "cover",
      "label": "Cover image"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "Aspect ratio",
      "options": [
        {
          "label": "16:9",
          "value": "16-9"
        },
        {
          "label": "21:9",
          "value": "21-9"
        }
      ]
    },
    {
      "type": "video_url",
      "id": "url",
      "label": "Link",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    }
  ]
}
{% endschema %}
