<table class="sizing-chart">
<tr>
  <td>size</td>
  <td>US shoe size</td>
</tr>
<tr>
  <td>s</td>
  <td>3 - 5.5 </td>
</tr>
<tr>
  <td>m</td>
  <td>6 - 8.5 </td>
</tr>
<tr>
  <td>l</td>
  <td>9 - 11.5</td>
</tr>
<tr>
  <td>xl</td>
  <td>12 - 14.5</td>
</tr>
</table>