<article class="site-page" data-template-page>
{% section 'static-page-intro-meta' %}
  {% if page.content != blank %}
    <div class="page-content rte">
      {{ page.content }}
    </div>
  {% endif %}


  <div id="image-section">
  <div class="container">
    <ul class="nav nav-tabs row d-flex justify-content-center about-nav" role="tablist" id="myTabs"  style="max-width: 100%;">
      <li class="col">
        <a role="tab" onclick="$('html,body').animate({scrollTop:$('#brand').offset().top - 140},'slow');">
          <div class="tab-content">
            <h4 class="text-center">BRAND</h4>
          </div>
        </a>
      </li>
      <li class="col">
        <a role="tab" onclick="$('html,body').animate({scrollTop:$('#history').offset().top - 140},'slow');">
          <div class="tab-content">
            <h4 class="text-center">HISTORY</h4>
          </div>
        </a>
      </li>
      <li class="col">
        <a role="tab" onclick="$('html,body').animate({scrollTop:$('#team').offset().top - 140},'slow');">
          <div class="tab-content">
            <h4 class="text-center">IN-HOUSE CREW</h4>
          </div>
        </a>
      </li>
      <li class="col">
        <a role="tab" onclick="$('html,body').animate({scrollTop:$('#athletes').offset().top - 140},'slow');">
          <div class="tab-content">
            <h4 class="text-center">ATHLETES</h4>
          </div>
        </a>
      </li>
      <li class="active col">
        <a role="tab" onclick="$('html,body').animate({scrollTop:$('#contact').offset().top - 140},'slow');">
          <div class="tab-content">
            <h4 class="text-center">CONTACT</h4>
          </div>
        </a>
      </li>

    </ul>
  </div>
  <div class="container-fluid">
    {% section 'about-page-tab-content-upper' %}
    {% section 'static-blog-team-leads' %}
    {% section 'about-page-tab-content-grid' %}
    {% section 'about-page-tab-content-lower' %}
    {% section 'about-page-tab-content-bombproof' %}
  </div>
</div>
</article>
