
 <!-- all product badges -->
{% for tag in product.tags %}

  {% if tag == 'made-colorado' %}
   {% assign colo = true %}
  {% endif %}

  {% if tag == 'made-usa' %}
   {% assign usa = true %}
  {% endif %}

  {% if tag == 'recycled-materials' %}
   {% assign recycled = true %}
  {% endif %}

  {% if tag == 'organic-materials' %}
   {% assign organic = true %}
  {% endif %}

{% endfor %}

<div class="row product-badge-row">

  {% if colo %}
  <div class="product-badge"><img src="{{ 'badge-made-in-co.png' | asset_url }}"></div>
  {% endif %}

  {% if usa %}
  <div class="product-badge"><img src="{{ 'badge-made-in-usa.png' | asset_url }}"></div>
  {% endif %}

  {% if recycled %}
  <div class="product-badge"><img src="{{ 'badge-recycled.png' | asset_url }}"></div>
  {% endif %}

  {% if organic %}
  <div class="product-badge"><img src="{{ 'badge-organic.png' | asset_url }}"></div>
  {% endif %}
</div>
