<table class="sizing-chart">
<tr>
  <td>size</td>
  <td>waist</td>
</tr>
<tr>
  <td>s</td>
  <td>28" - 30"</td>
</tr>
<tr>
  <td>m</td>
  <td>31" - 32"</td>
</tr>
<tr>
  <td>l</td>
  <td>33" - 34" </td>
</tr>
<tr>
  <td>xl</td>
  <td>35" - 37"</td>
</tr>
</table>