@charset "utf-8";

// =========================================
// Foundation
// =========================================
@use './foundation/base';

// =========================================
// Utility
// =========================================
@use './utility/screen-reader';
@use './utility/text-align';
$blue: --color-base-background-2;
body{
  background-color: $blue !important;
}
p {
  color: {{settings.color_one}};

}